GENUM_DATABASE_URI=mongodb://localhost:27017/genum_db?replicaSet=rs0&directConnection=true
GENUM_DATABASE=genum_db
FLUTTER_ENCRYPTION_KEY=
FLUTTER_CALLBACK_URL=
FLUTTER_PUBLIC_KEY=
FLUTTER_SECRET_KEY=
PAYSTACK_API_KEY=sk_test_test_key
PAYSTACK_CALLBACK_URL=
FRONTEND_DOMAIN=https://genum.test.app
EMAIL_HOST=smtp.test.com
EMAIL_PORT=465
EMAIL_ID=test@gmail.com
EMAIL_PASSWORD=test_password
CLOUDINARY_URL=cloudinary://test:test@test
REDIS_DATABASE_URL=redis://localhost:6379
GOOGLE_CLIENT_ID=test.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=test_client_secret
GOOGLE_REDIRECT_URL=http://localhost:8080/login/oauth2/code/google